<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.graduation.mapper.LaboratoryMapper">


    <select id="findAuthenticatedPerson" resultType="com.ky.graduation.entity.Person">
        SELECT *
        FROM person
        WHERE id IN (SELECT p_id
                     FROM person_laboratory
                     WHERE lab_id = #{labId})
    </select>
    <select id="listLabsName" resultType="java.lang.String">
        SELECT `name`
        FROM laboratory
    </select>
    <select id="findAuthenticatedLabIds" resultType="java.lang.Integer">
        SELECT lab_id
        FROM person_laboratory
        WHERE p_id = #{personId}
    </select>
</mapper>
