<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.graduation.mapper.PersonMapper">

    <select id="findDeviceListContainPerson" resultType="com.ky.graduation.entity.Device">
        SELECT *
        FROM device d
                 INNER JOIN laboratory l ON d.laboratory_id = l.id
                 INNER JOIN person_laboratory pl ON l.id = pl.lab_id
        WHERE pl.p_id = #{personId}
    </select>
    <select id="findFacesOfPerson" resultType="com.ky.graduation.entity.Face">
        SELECT *
        FROM face
        WHERE person_id = #{personId}
    </select>
</mapper>
